
<div class="text-white p-3" style=" background-color:black;">
  <div *ngIf="!isFavorite" class="d-flex justify-content-end">
    <button class="m-2 btn btn-light"  (click)="bringMovies(pageNo,'top_rated')">Top movies</button>
    <button class="m-2  btn btn-light" (click)="bringMovies(pageNo,'upcoming')">Upcoming </button>
    <button class="m-2  btn btn-light" (click)="bringMovies(pageNo,'now_playing')">Now Playing</button>
  </div>
  <div class="pt-4 text-center ">
    <h1 style="text-decoration: underline;" >{{filterd}}</h1>
  </div>
  <div class="d-flex  justify-content-around flex-wrap">
    <div *ngFor="let mov of movies" class=" text-light m-5" style=" width: 300px;border-radius: 20px; overflow: hidden; box-shadow: 5px 10px 25px rgb(202, 200, 200);">
      <a  [routerLink]="'/movieDetails/'+mov.id"> 
        <div>
        <img [src]="'https://image.tmdb.org/t/p/w500'+mov.poster_path" alt="" class="rounded-top" style="width:100%;height: 215px;">
      </div>
      <div class="p-2">
        <h5 class="mb-0">{{mov.title}}</h5>
        <div class="d-flex justify-content-between p-1 pr-2">
          <span>({{mov.original_title}})</span>
        </div>
        <h6 class="p-0  m-0">Description</h6>
        <div class="overview" title="{{mov.overview}}" >
          {{mov.overview}}
        </div>
        <div class="d-flex justify-content-between mt-2">
          <pre class=" text-warning">rate : {{mov.vote_average}} ({{mov.vote_count}})</pre>
          <span class=" text-primary">{{mov.release_date}}</span>
        </div>
        </div>
      </a>
     <div class="d-flex justify-content-end p-2">
        <span *ngIf="isLiked(mov.id)" class="material-icons text-primary m-1" (click)="LikedOrNot(false,mov.id)">
          thumb_up
          </span>

          <span *ngIf="!isLiked(mov.id)" class="material-icons text-white m-1" (click)="LikedOrNot(true,mov.id)">
          thumb_up_off_alt
          </span>

          <span *ngIf="isFavor(mov.id)" class="material-icons text-danger m-1" (click)="FavorOrNot(false,mov.id)">
            favorite
            </span>
    
            <span *ngIf="!isFavor(mov.id)" class="material-icons text-white m-1" (click)="FavorOrNot(true,mov.id)">
              favorite_border
              </span>

     </div>
        
    </div>
  </div>
</div>

