.SRec:hover{background-color: gainsboro !important};
ul{
    list-style-type:none;
}
/////////////////////////////////////////////
.overview{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:5px 10px;
    
}
