
<div class="h-25 mb-1" style="background-image: url('../assets/img1.png')">

  <img src="../assets/w5.png" alt="" class="img-responsive w-100 h-100" >
</div>
<div class="container-fluid ">
    <div class="row bg-secondary text-white">
        <div class="col-1" *ngIf="isAll"><h3>ID</h3></div>
        <div class="col-3"><h3>First Name</h3></div>
        <div class="col-3"><h3>Last Name</h3></div>
        <div class="col-3" *ngIf="isAll"><h3 >Email</h3></div>
        <div class="col-2" *ngIf="isAll"><h3 >Personal Photo</h3></div>
    </div>
    
    <div class="row">
        <div class=" m-1 p-2 bg-light col-12 SRec" *ngFor="let student of students" [routerLink]="'/studentDetail/'+student.id">
            <div class="row">
                <div class="col-1 pr-4" *ngIf="isAll">
                    {{student.id}}
                </div>
                <div class="col-3 pr-4">
                    {{student.first_name}}
                </div>
                <div class="col-3 pr-4">
                    {{student.last_name}}
                </div>
                <div class="col-3 pr-4" *ngIf="isAll">
                  {{student.email}}
              </div>
                <div class="col-2 pr-4" *ngIf="isAll">
                  <img [src]="student.avatar" alt="" class="img-responsive" style="max-width:60px; border-radius: 50%;" >
                </div>
            </div>
        </div>
        
    </div>

    <div class="row  ">
      <nav class="navbar navbar-expand-lg navbar-light bg-light w-100 ">
        <div class="d-flex ml-auto align-items-center">
          Items per page:
          <ul class="mr-3 mb-0 pl-2">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle page-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{studentsNo}}<span class="caret"></span></a>
                <ul class="dropdown-menu p-0"  style="min-width: 0px !important;">
                    <li><a class="dropdown-item pr-3 pl-3" (click)="bringStudent(pageNo,5)" >5</a></li>
                    <li><a class="dropdown-item pr-3 pl-3" (click)="bringStudent(pageNo,10)">10</a></li>
                    <li><a class="dropdown-item pr-3 pl-3" (click)="bringStudent(pageNo,15)">15</a></li>
                </ul>
            </li>
          </ul>


          <ul class="pagination m-0">
            <li class="page-item">
              <a class="page-link" aria-label="Previous" (click)="bringStudent(pageNo-1,studentsNo)">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let page of numSequence(total_pages);let i=index "><a class="page-link" (click)="bringStudent(i+1,studentsNo)">{{i+1}}</a></li>
            <li class="page-item">
              <a class="page-link" aria-label="Next"(click)="bringStudent(pageNo+1,studentsNo)">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>


        
      </nav>
    </div>
    
    

</div>




