
<div class="text-white p-4 text-center mb-5" style="font-family:cursive;background-image: url('../assets/img1.png')"><h1>Student Details</h1></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class=" d-flex align-items-center">
                <div class=" w-50 m-5 d-flex justify-content-center">
                    <div class="bg-light p-2 w-75">
                        <h1>{{studentDetail.first_name}} {{studentDetail.last_name}}</h1>
                        <div class="row p-3">
                            <div class="col-4 text-primary"> <h5>ID</h5></div>
                            <div class="col-6 mb-3">{{studentDetail.id}}</div>
                        
                            <div class="col-4 text-primary"><h5>First Name</h5></div>
                            <div class="col-6 mb-3">{{studentDetail.first_name}}</div>
    
                            <div class="col-4 text-primary"><h5>Last Name</h5></div>
                            <div class="col-6 mb-3">{{studentDetail.last_name}}</div>
    
                            <div class="col-4 text-primary"><h5>Email</h5></div>
                            <div class="col-6 mb-3">{{studentDetail.email}}</div>
                        </div>
                    </div>
                </div>
                <div class="w-35 h-35"  >
                    <img [src]="studentDetail.avatar" alt="" class="img-responsive" style="width :100% ; border-radius: 50%;" >
                </div>
            </div>
                
        </div>
    </div>
    
</div>
